/*This is the style for the time line to show history*/
.time_line_box {
  margin: 2%;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.time_line_background {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 10px;
  height: 12px;
  width: 100%;
  background:#177D48;
}

.time_line ol {
  list-style: none;
}
.time_line li {
  float: left;
}

.order_item {
  top: -8px;
  position: absolute;
  cursor: pointer;
  bottom: 15px;
  z-index: 2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #1A9154;
  background-color: #f8f8f8;
}

#time-line-content-div {
  position: absolute;
  left: 0%;
  top: 5%;
  width: 100%;
  z-index: 5;
  text-align: center;
  padding: 50px;
}

.history {
  position: absolute;
  width: 40%;
}

.history-head {
  font-size: calc(1em + 1vw);
  color: #1A9154 !important;
  font-family: "DomaineDisplay";
  text-align: left;
}
.history-text {
  font-size: 1em;
  font-family: Garamond, serif;
  color: #181818;
}

/*when the time btn selected*/
.current {
  background-color: #1A9154;
}

#history-div-5{
  display: none;
  left: 60%;
}
#history-div-4{
  display: none;
  left: 55%;
}

#history-div-3{
  display: none;
  left: 45%;
}

#history-div-2{
  display: none;
  left: 30%;
}

#history-div-2{
  display: none;
  left: 10%;
}


/**For the screen whose width less than 760px **/
@media only screen and (max-width: 760px) {
  .time_line_box {
    /*margin: 10px;*/
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  /*make the green line's height smaller*/
  .time_line_background {
    height: 8px;
  }

  .history {
    width: 70%;
  }

  /*To make the history div show at left side*/
  #history-div-5{
    left: 20%;
  }
  #history-div-4{
    left: 20%;
  }
  
  #history-div-3{
    left: 20%;
  }
  
  #history-div-2{
    left: 20%;
  }
  
  #history-div-2{
    left: 10%;
  }

  /*make order item smaller*/
  .order_item {
    top: -5px;
    height: 20px;
    width: 20px;
  }

}
