/*==============Global style set===================*/
/* Universal Styles, set the font and text color, set head text style*/ 
html,body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 100%;
    margin: 0 auto;
}

.demobox {
     background-color: bisque;
     height: 200px;
     width: 30%;
     border-radius: 5%;
     text-align: center;
     line-height: 180px;
     margin: 20px;
     float: left;
}

.clearfloat {
    float: none;
    clear: both;
}

.demobox2 {
    background-color: rgb(146, 228, 139);
    border-radius: 20%;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 280px;
    margin: 50px;
    float: left;
}